:root{
    --fuentePrincipal: 'Staatliches', cursive;
    --primario:#9C27B0;
    --primarioOscuro: #89119D;
    --secundario:#FFCE00;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    background-color: var(--primario);
    line-height: 2;
    font-size: 2rem;
}
h1{
    color:var(--secundario);
    text-align: center;
    font-size: 4rem;
    font-family: var(--fuentePrincipal);
}
.contenedor{
    max-width: 1000px;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
.header{
    display: grid;
    justify-content: center;
    padding: 3rem 0;
}
.barra{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
}
.barra nav{
    display:grid;
    grid-template-columns: repeat(2,200px);
    grid-column-gap: 1rem;
    justify-content: center;
}
.barra .nav a{
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
    text-align: center;
    color:#FFFFFF;
    text-decoration: none;
}
.barra .nav a:hover{
    color:var(--secundario);
}
.lista-productos{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-gap: 2rem;
}
@media (min-width: 768px) {
    .lista-productos{
        grid-template-columns:repeat(3, 1fr);
    }
}
.producto{
    background-color: var(--primarioOscuro);
    padding: 1rem;
}